<div class="row" style="padding: 10px">
  <div class="col-md-3">
  </div>
  <div class="col-md-7">
    {% for menu_name, items in menu_configuration.items() %}
    <div class="dropdown" style="display:inline">
      <button id="dropdown_customer" class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
	{{ menu_name }}
	<span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
	{% for item in items %}
	<li><a href="/{{item[0]}}">{{item[1]}}</a></li>
	{% endfor %}
      </ul>
    </div>
    {% endfor %}
  </div>
</div>
