{% extends 'layout.html' %}

{% block body %}

{% from "includes/_formhelpers.html" import render_field %}

<div class="row">
  <div class="col-md-9 col-md-offset-3">
    <h1>Add a new formula</h1>
    <form method="POST" action="">
      <div class="form-group">
	    <label for="subformula_name">Formula name</label>
	    <input type="text" name="formula_name"><br>
      </div>

      <div class="form-group">
	    <label for="formula_description">Description</label>
	    <input  type="text" id="formula_description" name="formula_description"><br>
      </div>
      	
      <div class="form-group" name="subformula[]">
        <label for="taste_choices_0">Taste</label>
        <select id="taste_choices_0" name="taste_choices_0" onchange="taste_change(this)">
	        {% for taste_rec in taste_recs %}
	        <option value="{{taste_rec.id}}">{{taste_rec.name}}</option>
	        {% endfor %}
	    </select>

        <label for="subformula_choices_0">Subformula</label>
	    <select id="subformula_choices_0" name="subformula_choices_0">
            {% for subformula_id in taste_subformula_dict[taste_recs[0].id] %}
                <option value="{{subformula_id}}">{{subformula_dict[subformula_id]}}</option>
            {% endfor %}
	    </select>

	    <button type="button" class="btn btn-default pullright" id="delete_subformula_0" onclick="delete_subformula(this);">Delete</button>
      </div>
      
    <p><button type="button" class="btn btn-default pullright" onclick="add_another_subformula();">Add another subformula</button></p>

      <div class="form-group">
	<label for="formula_note">Note</label>
	<textarea rows="10"
		  cols="80"
		  id="formula_note"
		  name="formula_note"></textarea>
      </div>
      
      <p><input type="submit" class="btn btn-primary" value="Submit"/></p>
    </form>
  </div>
</div>

<script>

var taste_subformula_dict = {{taste_subformula_dict | tojson}};
var subformula_dict = {{subformula_dict | tojson}}

function add_another_subformula()
{
    var subformulas_list = document.getElementsByName("subformula[]")
    var len = subformulas_list.length
  
    var last_subformula = subformulas_list[len - 1]
    last_subformula.id = "subformula_" + (len-1).toString()
    var next_subformula = last_subformula.cloneNode(true)
    next_subformula.id = "subformula_" + len.toString()

    var taste_label = next_subformula.children[0]
    var taste_choices = next_subformula.children[1]
    var subformula_label = next_subformula.children[2]
    var subformula_choices = next_subformula.children[3]
    var delete_btn = next_subformula.children[4]

    taste_label.htmlFor = "taste_choices_" + len.toString()
    taste_choices.id = "taste_choices_" + len.toString()
    subformula_label.htmlFor = "subformula_choices_" + len.toString()
    subformula_choices.id = "subformula_choices_" + len.toString()
    delete_btn.id = "delete_subformula_" + len.toString()

    taste_choices.name = "taste_choices_" + len.toString()
    subformula_choices.name = "subformula_choices_" + len.toString()

    for (var i = 0; i < taste_choices.options.length; i++)
    {
	    taste_choices.options[i].selected = false
    }
    
    taste_choices.options[0].selected = true

    while (subformula_choices.options.length > 0)
    {
        subformula_choices.remove(0)
    }

    var taste_choice_id = parseInt(taste_choices.value)
    if (taste_choice_id != -1)
    {
        subformula_ids = taste_subformula_dict[taste_choice_id]
        for (let i = 0; i < subformula_ids.length; ++i)
        {
            var opt = document.createElement("option")
            opt.value = subformula_ids[i]
            opt.innerHTML = subformula_dict[subformula_ids[i]]
            subformula_choices.appendChild(opt)
        }
    }
  
    last_subformula.insertAdjacentElement("afterend", next_subformula)
    return false;
}

function delete_subformula(delete_btn)
{
    if (confirm('Are you sure to delete this subformula?') == false)
    {
        return;
    }

    var subformula_list = document.getElementsByName("subformula[]")
    var len = subformula_list.length

    if (len <= 1)
    {
        window.alert('Cannot delete this only subformula!')
        return;
    }

    var strIndex = get_index(delete_btn)
    var intIndex = parseInt(strIndex)
    document.getElementById("subformula_" + strIndex).remove()
    subformula_list = document.getElementsByName("subformula[]")

    for (var i = intIndex; i < subformula_list.length; i++)
    {
	    subformula = subformula_list[i]
        subformula.id = "subformula_" + i.toString()
        
        var taste_label = subformula.children[0]
        var taste_choices = subformula.children[1]
        var subformula_label = subformula.children[2]
        var subformula_choices = subformula.children[3]
        var delete_btn = subformula.children[4]

        taste_label.htmlFor = "taste_choices_" + i.toString()
        taste_choices.id = "taste_choices_" + i.toString()
        subformula_label.htmlFor = "subformula_choices_" + i.toString()
        subformula_choices.id = "subformula_choices_" + i.toString()

        taste_choices.name = "taste_choices_" + i.toString()
        subformula_choices.name = "subformula_choices_" + i.toString()
    }    
}

</script>

{% endblock %}
