{% extends 'layout.html' %}

{% block body %}

{% from "includes/_formhelpers.html" import render_field %}

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1>Add a new order</h1>
    <form method="POST" action="">
      <div class="form-group">
            <label for="customer_id">Customer</label>
            <select id="customer_id" name="customer_id">
              {% for customer_choice in customer_choices %}
              <option value="{{customer_choice[0]}}">{{customer_choice[1]}}</option>
              {% endfor %}
            </select>
      </div>

      <div class="form-group">
            <label for="ordered_on">Ordered on</label>
            <input type="text" name="ordered_on" value="">
      </div>

      <div class="form-group">
            <label for="delivery_appointment">Delivery appointment</label>
            <input type="text" name="delivery_appointment" value="">
      </div>

      <div class="form-group">
            <label for="delivery_method_id">Delivery method</label>
            <select id="delivery_method_id" name="delivery_method_id">
              {% for delivery_method_choice in delivery_method_choices %}
              <option value="{{delivery_method_choice[0]}}">{{delivery_method_choice[1]}}</option>
              {% endfor %}
            </select>
      </div>

      <div class="form-group" name="product[]">
            <br/>
            <p><label id="product_label_0">Details on product 1:</label></p>
            
            <p>
                  <label for="product_name_0">Name</label>
                  <input type="text" id="product_name_0" name="product_name_0">
            </p>

            <p>
            <label for="taste_choices_0">Taste</label>
            <select id="taste_choices_0" name="taste_choices_0">
	      {% for taste_choice in taste_choices %}
	            <option value="{{taste_choice[0]}}">{{taste_choice[1]}}</option>
	      {% endfor %}
            </select>
            </p>
            
            <p>
            <label for="decoration_form_choices_0">Decoration form</label>
            <select id="decoration_form_choices_0" name="decoration_form_choices_0">
	      {% for decoration_form_choice in decoration_form_choices %}
	            <option value="{{decoration_form_choice[0]}}">{{decoration_form_choice[1]}}</option>
	      {% endfor %}
            </select>
            </p>

            <p>
            <label for="decoration_technique_choices_0">Decoration technique</label>
            <select id="decoration_technique_choices_0" name="decoration_technique_choices_0">
	      {% for decoration_technique_choice in decoration_technique_choices %}
	            <option value="{{decoration_technique_choice[0]}}">{{decoration_technique_choice[1]}}</option>
	      {% endfor %}
            </select>
            </p>

            <p>
                  <label for="with_box_0">With box</label><br>
                  <input type="checkbox" id="with_box_0" name="with_box_0">  
            </p>

            <p>
            <button type="button"
		class="btn btn-default pullright"
		id="delete_product_0"
            onclick="delete_product(this);">Delete</button>
            </p>
            <hr>
      </div>

      <br/>
      <p><button type="button" 
            class="btn btn-default pullright" 
            onclick="add_product_to_order();">Add product to order</button></p>

      <div class="form-group">
	      <label for="message">Message</label>
            <textarea class="form-control" cols="80" id="message" name="message" rows="10"></textarea>
      </div>


      <p><input type="submit" class="btn btn-primary" value="Submit"/></p>
    </form>
  </div>
</div>

<script>
  $('#delivery_method_id').select2();
  $('#customer_id').select2();
  $('*[name=ordered_on]').appendDtpicker();
  $('*[name=delivery_appointment]').appendDtpicker();
</script>

{% endblock %}
