{% extends 'layout.html' %}

{% block body %}

{% from "includes/_formhelpers.html" import render_field %}

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1>Add a new decoration</h1>
    <form method="POST" action="" enctype="multipart/form-data">
      <div class="form-group">
	<label for="decoration_name">Decoration name</label>
	<input type="text" name="decoration_name"><br>
      </div>

      <div class="form-group">
	<label for="decoration_description">Description</label>
	<input type="text" name="decoration_description"><br>
      </div>
      
      <div class="form-group">
	<label for="topic_id">Topic</label>
	<select id="topic_id" name="topic_id">
	  {% for topic_rec in topic_recs %}
	  <option value="{{topic_rec.id}}">{{topic_rec.name}}</option>
	  {% endfor %}
	</select>
      </div>

      <div class="form-group">
	<label for="decoration_form_id">Decoration form</label>
	<select id="decoration_form_id" name="decoration_form_id">
	  {% for decoration_form_rec in decoration_form_recs %}
	  <option value="{{decoration_form_rec.id}}">{{decoration_form_rec.name}}</option>
	  {% endfor %}
	</select>
      </div>

      <div class="form-group">
	<label for="decoration_technique_id">Decoration technique</label>
	<select id="decoration_technique_id" name="decoration_technique_id">
	  {% for decoration_technique_rec in decoration_technique_recs %}
	  <option value="{{decoration_technique_rec.id}}">{{decoration_technique_rec.name}}</option>
	  {% endfor %}
	</select>
      </div>

      <div id="wrapper" style="margin-top: 20px;">
	<input id="fileUpload" name="file[]" multiple="multiple" type="file"/>
	<div id="image_holder"></div>
      </div>

      <br/>
      
      <p><input type="submit" class="btn btn-primary" value="Submit"/></p>
    </form>
  </div>
</div>

<script>
  $(document).ready(function() {
  $("#fileUpload").on('change', function() {
    var countFiles = $(this)[0].files.length;
    var imgPath = $(this)[0].value;
    var extn = imgPath.substring(imgPath.lastIndexOf('.') + 1).toLowerCase();
    var image_holder = $("#image_holder");

    image_holder.empty();

    if (extn == "gif" || extn == "png" || extn == "jpg" || extn == "jpeg")
    {
	if (typeof(FileReader) != "undefined")
	{
	    //loop for each file selected for uploaded.
	    for (var i = 0; i < countFiles; i++)
	    {
		var reader = new FileReader();
		reader.onload = function(e)
		{
		    $("<img />", {
			"src": e.target.result,
			"class": "thumb-image"
		    }).appendTo(image_holder);
		}
		image_holder.show();
		reader.readAsDataURL($(this)[0].files[i]);
	    }
	}
	else
	{
	    alert("This browser does not support FileReader.");
	}
    }
    else
    {
	alert("Pls select only images");
    }
  });
});
</script>

{% endblock %}
