{% extends 'layout.html' %}

{% block body %}

{% from "includes/_formhelpers.html" import render_field %}

<div class="row">
  <div class="col-md-9 col-md-offset-3">
    <h1>Add a new formula</h1>
    <form method="POST" action="">
      <div class="form-group">
	<label for="formula_name">Formula name:</label>
	<input type="text" name="formula_name"><br>
      </div>
      <div class="form-group" name="material[]">
	<select id="material_choices_0" onchange="update_price_and_cost(this)">
	  {% for material_rec in material_recs %}
	  <option>{{material_rec.name}}</option>
	  {% endfor %}
	</select>

	<input type="text" id="material_amount_0">
	<input type="text" id="material_unit_price_0" disabled>
	<input type="text" id="material_cost_0" disabled>	
      </div>
      
      <p><button type="button" class="btn btn-default pullright" onclick="add_another_material();">Add another material</button></p>
      
      <p><input type="submit" class="btn btn-primary" value="Submit"/></p>
    </form>
  </div>
</div>

<script>
  function add_another_material()
  {
  var materials_list = document.getElementsByName("material[]")
  var len = materials_list.length
  
  var last_material = materials_list[len - 1]
  var next_material = last_material.cloneNode(true)

  var material_choices = next_material.children[0]
  var material_amount = next_material.children[1]
  var material_unit_price = next_material.children[2]
  var material_cost = next_material.children[3]

  material_choices.id = "material_choices_" + len.toString()
  material_amount.id = "material_amount_" + len.toString()
  material_unit_price.id = "material_unit_price_" + len.toString()
  material_cost.id = "material_cost_" + len.toString()

  material_choices.seletedIndex = 0
  material_amount.value = ""
  material_unit_price.value = ""
  material_cost.value = ""
  
  last_material.insertAdjacentElement("afterend", next_material)
  return false;
  }

  function update_price_and_cost(control)
  {
  var my_name = control.id
  var pos = my_name.lastIndexOf("_")
  var strIndex = my_name.substring(pos+1)

  var my_material_amount_id = "material_amount_" + strIndex  
  var my_material_unit_price_id = "material_unit_price_" + strIndex
  var my_material_cost_id = "material_cost_" + strIndex

  var my_material_unit_price = document.getElementById(my_material_unit_price_id)
  my_material_unit_price.value = "XXX"
  }
</script>

{% endblock %}
