{% extends 'layout.html' %}

{% block body %}

{% from "includes/_formhelpers.html" import render_field %}

<div class="row">  
    <h1>Add a new formula</h1>
    <form method="POST" action="" onsubmit="return validate_add_update_formula();">
      <div class="form-group">
	    <label for="formula_name">Formula name</label>
	    <input type="text" id="formula_name" name="formula_name"><br>
      </div>

      <div class="form-group">
	    <label for="formula_description">Description</label>
	    <input  type="text" id="formula_description" name="formula_description"><br>
      </div>
      	
      <div class="form-group" name="subformula[]">
        <label for="taste_choices_0">Taste</label>
        <select id="taste_choices_0" name="taste_choices_0" onchange="taste_change(this)">
	        {% for taste_rec in taste_recs %}
	        <option value="{{taste_rec.id}}">{{taste_rec.name}}</option>
	        {% endfor %}
	    </select>

        <label for="subformula_choices_0">Subformula</label>
	    <select id="subformula_choices_0" name="subformula_choices_0" onchange="subformula_change(this)">
            {% for subformula_id in taste_subformula_dict[taste_recs[0].id] %}
                <option value="{{subformula_id}}">{{subformula_dict[subformula_id]}}</option>
            {% endfor %}
      </select>

      <label for="subformula_single_cost_0">Single cost</label>
      <input type="number" style="text-align:right" id="subformula_single_cost_0" name="subformula_single_cost_0" value="{{subformula_cost_dict[taste_subformula_dict[taste_recs[0].id][0]]}}" disabled/>
      
      <label for="subformula_count_0">Count</label>
      <input type="number" style="text-align:right" id="subformula_count_0" name="subformula_count_0" min="1" value="1" onchange="subformula_count_change(this)"/>

      <label for="subformula_cost_0">Cost</label>
      <input type="number" style="text-align:right" id="subformula_cost_0" name="subformula_cost_0" value="{{subformula_cost_dict[taste_subformula_dict[taste_recs[0].id][0]]}}" disabled/>

	    <button type="button" class="btn btn-default pullright" id="delete_subformula_0" onclick="delete_subformula(this);">Delete</button>
      </div>
      
    <p><button type="button" class="btn btn-default pullright" onclick="add_another_subformula();">Add another subformula</button></p>

      <div class="form-group">
        <label for="total_formula_cost">Total formula cost</label>
      <input type="number" style="text-align:right" id="total_formula_cost" name="total_formula_cost" value="{{subformula_cost_dict[taste_subformula_dict[taste_recs[0].id][0]]}}" disabled/>
      </div>

      <div class="form-group">
	<label for="formula_note">Note</label>
	<textarea rows="10"
		  cols="80"
		  id="formula_note"
		  name="formula_note"></textarea>
      </div>
      
      <p><input type="submit" class="btn btn-primary" value="Submit"/></p>
    </form>
</div>

<script>

var taste_subformula_dict = {{taste_subformula_dict | tojson}};
var subformula_dict = {{subformula_dict | tojson}}
var subformula_cost_dict = {{subformula_cost_dict | tojson}}

</script>

{% endblock %}
