{% extends 'layout.html' %}

{% block body %}

<h1>SubFormula Details</h1>

{% from "includes/_formhelpers.html" import render_field %}

<table class="table table-striped">
  <thead>
    <tr>
      <th></th>
      <th></th>      
    </tr>
  </thead>
  <tbody>
    <tr><td>Name</td><td>{{ subformula_rec.name }}</td></tr>
    <tr><td>Taste</td><td>{{ taste_rec.name }}</td></tr>
    <tr><td>Description</td><td>{{ subformula_rec.description }}</td></tr>
    <tr><td>Registered on</td><td>{{ subformula_rec.registered_on }}</td></tr>
  </tbody>
</table>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Material name</th>
      <th>Amount</th>
    </tr>
  </thead>
  <tbody>
    {% for material_dto in material_dtos %}
    <tr>
      <td>{{material_dto.name}}</td>
      <td>{{material_dto.amount}} {{material_dto.unit}}</td>   
    </tr>
    {% endfor %}
  </tbody>
</table>

<h4>Note</h4>
<div class="form-group">
  <textarea rows="10"
	    cols="80"	    
	    id="subformula_note"
	    name="subformula_note">{{subformula_rec.note}}</textarea>
</div>

{% endblock %}
