{% extends 'layout.html' %}

{% block body %}

<h1>List of customers</h1>

{% from "includes/_formhelpers.html" import render_field %}

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Birthday</th>
      <th>Address</th>
      <th>Phone</th>
      <th>Email</th>
      <th>Facebook</th>
      <th>Recommended by</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for customer in customers %}
    <tr>
      <td>{{customer.name}}</td>
      <td>{{customer.birthday}}</td>      
      <td>{{customer.address}}</td>
      <td>{{customer.phone}}</td>
      <td>{{customer.email_address}}</td>
      <td>{{customer.facebook}}</td>
      <td>{{customer.recommended_by}}</td>      
      <td><a href="{{ url_for('update_customer', 
		   customer_id=customer.id) }}"
	     class="btn btn-default pullright">Update</a></td>
      <td><a href="{{ url_for('show_customer_order_history', 
		   customer_id=customer.id) }}"
	     class="btn btn-default pullright">Order history</a></td>
      
    </tr>
    {% endfor %}
  </tbody>
</table>

<a href="{{ url_for('add_customer') }}"
   class="btn btn-default pullright">Add a new customer</a>


{% endblock %}
