{% extends 'layout.html' %}

{% block body %}

<h1>List of tastes</h1>

{% from "includes/_formhelpers.html" import render_field %}

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for taste in tastes %}
    <tr>
      <td><span data-toggle="tooltip" title="{{taste.description}}">{{taste.name}}</span></td>
      <td><a href="{{ url_for('update_taste', taste_id=taste.id) }}"
       class="btn btn-default pullright">Update</a></td>
       <td><a href="{{ url_for('list_subformulas_per_taste', taste_id=taste.id) }}"
        class="btn btn-default pullright">Subformulas</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<a href="{{ url_for('add_taste') }}"
   class="btn btn-default pullright">Add a new taste</a>

{% endblock %}
