{% extends 'layout.html' %}

{% block body %}

<h1>List of order status</h1>

{% from "includes/_formhelpers.html" import render_field %}

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for order_status_rec in order_status_recs %}
    <tr>
      <td><span data-toggle="tooltip" title="{{order_status_rec.description}}">{{order_status_rec.name}}</span></td>
      <td><a href="{{ url_for('update_order_status', order_status_id=order_status_rec.id) }}"
	     class="btn btn-default pullright">Update</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<a href="{{ url_for('add_order_status') }}"
   class="btn btn-default pullright">Add a new order_status</a>

{% endblock %}
