{% extends 'layout.html' %}

{% block body %}

<h1>List of materials</h1>

{% from "includes/_formhelpers.html" import render_field %}

{% if search_text is none or search_text == '' %}
<input type="text" class="form-control" placeholder="Filter..." id="searchInput">
{% else %}
<input type="text" class="form-control" value="{{search_text}}" id="searchInput">
{% endif %}

<table class="table table-striped">
  <thead>
    <tr>
      <th>Id</th>
      {% if current_sorting_criteria == 'material_name_desc' %}
      <th>Name <a href="{{ url_for('list_materials',
        page=page,
        search_text=[search_text],
        sorting_criteria=['material_name_asc']) }}"><i class="fa fa-sort-asc"></i></a></th>
      {% else %}
      <th>Name <a href="{{ url_for('list_materials',
        page=page,
        search_text=[search_text],
        sorting_criteria=['material_name_desc']) }}"><i class="fa fa-sort-desc"></i></a></th>
      {% endif %}
      <th>Is organic</th>
      <th style="text-align:right">Unit price</th>
      <th style="text-align:right">Unit&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for material_dto in material_dtos.items %}
    <tr>
      <td>{{material_dto.material_id}}</td>
      <td><span data-toggle="tooltip" title="{{material_dto.description}}">{{material_dto.name}}</span></td>      
      <td>{{material_dto.is_organic}}</td>
      <td style="text-align:right">{{material_dto.unit_price}}</td>
      <td style="text-align:right">{{material_dto.unit_amount}} {{material_dto.unit}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
      <td><a href="{{ url_for('update_material', 
		   material_id=material_dto.material_id) }}"
	     class="btn btn-default pullright">Update</a></td>
      <td><a href="{{ url_for('show_material_unit_price_history',
		   material_id=material_dto.material_id) }}"
	     class="btn btn-default pullright">Show history</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<ul class="pagination pull-right">
  <li class="page-item pagenumber">{{material_dtos.page}}/{{material_dtos.pages}}</li>

  {% if material_dtos.has_prev %}
  <li class="page-item"><a class="page-link"
			   href="{{ url_for('list_materials', 
         page=material_dtos.prev_num,
         search_text=[search_text],
         sorting_criteria=[current_sorting_criteria]) }}">Previous</a></li>
  {% else %}
  <li class="page-item"><a class="page-link btn disabled"
			   href="#">Previous</a></li>
  {% endif %}

  {% if material_dtos.has_next %}
  <li class="page-item"><a class="page-link"
			   href="{{ url_for('list_materials', 
         page=material_dtos.next_num,
         search_text=[search_text],
         sorting_criteria=[current_sorting_criteria]) }}">Next</a></li>
  {% else %}
  <li class="page-item"><a class="page-link btn disabled"
			   href="#">Next</a></li>
  {% endif %}
</ul>
<br/>

<a href="{{ url_for('add_material') }}"
   class="btn btn-default pullright">Add a new material</a>

<script>
  $("#searchInput").keyup(function(e) {
    if (e.keyCode == 13) {
      let search_text = this.value
      location.href = "/list_materials/1/?search_text=" + search_text
    }
  })
</script>

{% endblock %}
