{% extends 'layout.html' %}

{% block body %}

<h1>List of orders by {{customer_rec.name}}</h1>

{% from "includes/_formhelpers.html" import render_field %}

<input type="hidden" id="customer_id" value="{{customer_rec.id}}" display="none" disabled/>

{% if search_text is none or search_text == '' %}
<input type="text" class="form-control" placeholder="Filter..." id="searchInput">
{% else %}
<input type="text" class="form-control" value="{{search_text}}" id="searchInput">
{% endif %}

<table class="table table-striped">
  <thead>
    <tr>
      <th>Order Id</th>
      {% if current_sorting_criteria == 'delivery_appointment_desc' %}
        <th>Delivery appointment <a href="{{ url_for('list_orders',
          page=page,
          search_text=[search_text],
          sorting_criteria=['delivery_appointment_asc']) }}"><i class="fa fa-sort-asc"></i></a></th>
      {% else %}
        <th>Delivery appointment <a href="{{ url_for('list_orders',
          page=page,
          search_text=[search_text],
          sorting_criteria=['delivery_appointment_desc']) }}"><i class="fa fa-sort-desc"></i></a></th>
      {% endif %}
      <th>Order status</th>
      {% if current_sorting_criteria == 'cost_estimation_desc' %}
      <th style="text-align:right">Cost estimation <a href="{{ url_for('list_orders',
        page=page,
        search_text=[search_text],
        sorting_criteria=['cost_estimation_asc']) }}"><i class="fa fa-sort-asc"></i></a></th>
      {% else %}
      <th style="text-align:right">Cost estimation <a href="{{ url_for('list_orders',
        page=page,
        search_text=[search_text],
        sorting_criteria=['cost_estimation_desc']) }}"><i class="fa fa-sort-desc"></i></a></th>
      {% endif %}
      {% if current_sorting_criteria == 'price_to_customer_desc' %}
      <th style="text-align:right">Price to customer <a href="{{ url_for('list_orders',
        page=page,
        search_text=[search_text],
        sorting_criteria=['price_to_customer_asc']) }}"><i class="fa fa-sort-asc"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
      {% else %}
      <th style="text-align:right">Price to customer <a href="{{ url_for('list_orders',
        page=page,
        search_text=[search_text],
        sorting_criteria=['price_to_customer_desc']) }}"><i class="fa fa-sort-desc"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
      {%endif %}
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for order_dto in order_dtos.items %}
    {% if order_dto.order_status_name == 'Delivered' %}
      <tr>
        <td><a href="{{ url_for('order_details', 
		    order_id=order_dto.order_id) }}"  color="#D3D3D3">{{order_dto.order_id}}</a></td>
        <td><font color="#A0A0A0">{{order_dto.delivery_appointment}}</font></td>
        <td><font color="#A0A0A0">{{order_dto.order_status_name}}</font></td>
        <td style="text-align:right"><font color="#A0A0A0">{{order_dto.total_cost}}</font></td>
        <td style="text-align:right"><font color="#A0A0A0">{{order_dto.price_to_customer}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</font></td>
        <td><a href="{{ url_for('update_order',
		    order_id=order_dto.order_id) }}"
        class="btn btn-default pullright"><font color="#A0A0A0">Update</font></a></td>      
    </tr>
    {% else %}
    <tr>
      <td><a href="{{ url_for('order_details', 
      order_id=order_dto.order_id) }}">{{order_dto.order_id}}</a></td>      
      <td>{{order_dto.delivery_appointment}}</td>
      <td>{{order_dto.order_status_name}}</td>
      <td style="text-align:right">{{order_dto.total_cost}}</td>
      <td style="text-align:right">{{order_dto.price_to_customer}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
      <td><a href="{{ url_for('update_order',
      order_id=order_dto.order_id) }}"
      class="btn btn-default pullright">Update</a></td>      
  </tr>
    {% endif %}
    {% endfor %}
  </tbody>
</table>

<ul class="pagination pull-right">
  <li class="page-item pagenumber">{{order_dtos.page}}/{{order_dtos.pages}}</li>

  {% if order_dtos.has_prev %}
  <li class="page-item"><a class="page-link"
               href="{{ url_for('show_customer_order_history', 
                customer_id=customer_rec.id,
                page=order_dtos.prev_num,
                search_text=[search_text],
                sorting_criteria=[current_sorting_criteria]) }}">Previous</a></li>
  {% else %}
  <li class="page-item"><a class="page-link btn disabled"
			   href="#">Previous</a></li>
  {% endif %}

  {% if order_dtos.has_next %}
  <li class="page-item"><a class="page-link"
               href="{{ url_for('show_customer_order_history', 
                customer_id=customer_rec.id,
                page=order_dtos.next_num,
                search_text=[search_text],
                sorting_criteria=[current_sorting_criteria]) }}">Next</a></li>
  {% else %}
  <li class="page-item"><a class="page-link btn disabled"
			   href="#">Next</a></li>
  {% endif %}
</ul>
<br/>

<a href="{{ url_for('add_order') }}"
   class="btn btn-default pullright">Add a new order</a>

<script>
  $("#searchInput").keyup(function(e) {
    if (e.keyCode == 13) {
      let search_text = this.value
      customer_id = document.getElementById("customer_id").value
      newHref = "/show_customer_order_history/" + customer_id + "/1/?search_text=" + search_text
      location.href = newHref
    }
  })
</script>

{% endblock %}
