{% extends 'layout.html' %}

{% block body %}

{% from "includes/_formhelpers.html" import render_field %}

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1>Add a new order</h1>
    <form method="POST" action="" onsubmit="return validate_add_order();">
      <div class="form-group">
            <label for="customer_id">Customer</label>
            <select id="customer_id" name="customer_id">
              {% for customer_rec in customer_recs %}
              <option value="{{customer_rec.id}}">{{customer_rec.name}}</option>
              {% endfor %}
            </select>
      </div>

      <div class="form-group">
            <label for="ordered_on">Ordered on</label>
            <input type="text" name="ordered_on" value="">
      </div>

      <div class="form-group">
            <label for="delivery_appointment">Delivery appointment</label>
            <input type="text" name="delivery_appointment" value="">
      </div>

      <div class="form-group">
            <label for="delivery_method_id">Delivery method</label>
            <select id="delivery_method_id" name="delivery_method_id">
              {% for delivery_method_rec in delivery_method_recs %}
              <option value="{{delivery_method_rec.id}}">{{delivery_method_rec.name}}</option>
              {% endfor %}
            </select>
      </div>

      <div class="form-group" name="product[]">
            <br/>
            <p><label id="product_label_0">Details on product 1:</label></p>
            
            <p>
                  <label for="product_name_0">Name</label>
                  <input type="text" id="product_name_0" name="product_name_0"/>
            </p>

            <p>
                  <label for="product_amount_0">Product amount</label>
                  <input type="number" style="text-align:right" id="product_amount_0" name="product_amount_0" min="1" value="1"/>
            </p>

            <p>
                  <label for="formula_choices_0">Formula</label>
                  <select id="formula_choices_0" name="formula_choices_0">
                        {% for formula_rec in formula_recs %}
                        <option value="{{formula_rec.id}}">{{formula_rec.name}}</option>
                        {% endfor %}
                  </select>
            </p>

            <p>
                  <label for="formula_amount_0">Formula amount</label>
                  <input type="number" step="0.01" style="text-align:right" id="formula_amount_0" name="formula_amount_0" min="0.01" value="1"/>
            </p>
            
            <p>
            <label for="decoration_form_choices_0">Decoration form</label>
            <select id="decoration_form_choices_0" name="decoration_form_choices_0">
	      {% for decoration_form_rec in decoration_form_recs %}
	            <option value="{{decoration_form_rec.id}}">{{decoration_form_rec.name}}</option>
	      {% endfor %}
            </select>
            </p>

            <p>
            <label for="decoration_technique_choices_0">Decoration technique</label>
            <select id="decoration_technique_choices_0" name="decoration_technique_choices_0">
	      {% for decoration_technique_rec in decoration_technique_recs %}
	            <option value="{{decoration_technique_rec.id}}">{{decoration_technique_rec.name}}</option>
	      {% endfor %}
            </select>
            </p>

            <p>
                  <label for="plate_choices_0">Plate</label>
                  <select id="plate_choices_0" name="plate_choices_0">
                  {% for plate_rec in plate_recs %}
                        {% if plate_rec is none%}
                        <option value="-1"></option>
                        {% else %}
                        <option value="{{plate_rec.id}}">{{plate_rec.name}}</option>
                        {% endif %}
                  {% endfor %}
                  </select>
            </p>

            <p>
                  <label for="box_choices_0">Box</label>
                  <select id="box_choices_0" name="box_choices_0">
                  {% for box_rec in box_recs %}
                        {% if box_rec is none%}
                        <option value="-1"></option>
                        {% else %}
                        <option value="{{box_rec.id}}">{{box_rec.name}}</option>
                        {% endif %}
                  {% endfor %}
                  </select>
                  </p>

            <p>
                  <label for="box_to_be_returned_0">Box to be returned</label><br>
                  <input type="checkbox" id="with_box_0" name="with_box_0">  
            </p>

            <p>
            <button type="button"
		class="btn btn-default pullright"
		id="delete_product_0"
            onclick="delete_product_in_add_order(this);">Delete</button>
            </p>
            <hr>
      </div>

      <br/>
      <p><button type="button" 
            class="btn btn-default pullright" 
            onclick="add_product_to_order();">Add product to order</button></p>

      <div class="form-group">
	      <label for="message">Message</label>
            <textarea class="form-control" cols="80" id="message" name="message" rows="10"></textarea>
      </div>

      <p><input type="submit" class="btn btn-primary" value="Submit"/></p>
    </form>
  </div>
</div>

<script>
  $('#delivery_method_id').select2();
  $('#customer_id').select2();
  $('*[name=ordered_on]').appendDtpicker();
  $('*[name=delivery_appointment]').appendDtpicker();
</script>

{% endblock %}
