{% extends 'layout.html' %}

{% block body %}

<h1>Order Details</h1>

{% from "includes/_formhelpers.html" import render_field %}
<table class="table table-striped">
  <thead>
    <tr>
      <th></th>
      <th></th>      
    </tr>
  </thead>
  <tbody>
    <tr><td>Order Id</td><td>{{ order_dto.order_id }}</td></tr>
    <tr><td>Customer</td><td><a href="{{ url_for('customer_details', customer_id=order_dto.customer_id) }}">{{ order_dto.customer_name }}</a></td></tr>    
    <tr><td>Ordered on</td><td>{{ order_dto.ordered_on }}</td></tr>
    <tr><td>Delivery appointment</td><td>{{ order_dto.delivery_appointment }}</td></tr>
    <tr><td>Delivery method</td><td>{{ order_dto.delivery_method_name }}</td></tr>
    <tr><td>Order status</td><td>{{ order_dto.order_status_name }}</td></tr> 
    <tr><td>Delivered on</td><td>{{ order_dto.delivered_on }}</td></tr> 
    <tr><td>Payment status</td><td>{{ order_dto.payment_status_name }}</td></tr>
    <tr><td>Paid on</td><td>{{ order_dto.paid_on }}</td></tr>
    <tr><td>Message</td><td>{{ order_dto.message }}</td></tr>   
  </tbody>
</table>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Product Id</th>
      <th>Product Name</th>
      <th>Decoration Form</th>
      <th>Decoration Technique</th>
      <th>Formula</th>
      <th>Plate</th>
      <th>Box</th>
      <th>Sample Images</th>
      <th>Cost Estimation per Product</th>
      <th>Amount</th>
      <th>Cost Estimation</th>
      <th>Price to customer</th>
    </tr>
  </thead>
  <tbody>
    {% for product_dto in product_dtos %}
    <tr>
      <td>{{product_dto.product_id}}</td>
      <td><a href="{{ url_for('product_details', product_id=product_dto.product_id) }}">{{product_dto.product_name}}</a></td>
      <td>{{product_dto.decoration_form_name}}</td>
      <td>{{product_dto.decoration_technique_name}}</td>

      {% if product_dto.formula_id is not none %}
        <td><a href="{{ url_for('formula_details', formula_id=product_dto.formula_id) }}">{{product_dto.formula_name}}</a></td>
      {% else %}
        <td>{{product_dto.formula_name}}</td>
      {% endif %}

      <td>{{product_dto.plate_name}}</td>
      <td>{{product_dto.box_name}}</td>
      
      {% if product_dto.sample_images_group_id is not none %}
        <td><a href="{{ url_for('sample_images_group_details', sample_images_group_id=product_dto.sample_images_group_id) }}">{{product_dto.sample_images_group_name}}</a></td>
      {% else %}
        <td>{{product_dto.sample_images_group_name}}</td>
      {% endif %}

      <td><a href="{{ url_for('product_cost_estimation_details', product_id=product_dto.product_id)}}">{{product_dto.product_cost_estimation}}</a></td>
      <td>{{product_dto.product_amount}}</td>
      
      {% if product_dto.product_cost_estimation is not none %}
        <td>{{product_dto.product_cost_estimation * product_dto.product_amount }}</td>
      {% else %}
        <td>{{product_dto.product_cost_estimation}}</td>
      {% endif %}

      <td>{{product_dto.price_to_customer}}</td>
    </tr>
    {% endfor %}
    <tr>
      <td>Total cost</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>{{ order_dto.total_cost }}</td>
      <td>{{ order_dto.price_to_customer }}</td>
    </tr>
  </tbody>
</table>  

{% endblock %}
