{% extends 'layout.html' %}

{% block body %}

<h1>List of orders</h1>

{% from "includes/_formhelpers.html" import render_field %}

<input type="text" class="form-control" placeholder="Filter..." id="searchInput">

<table class="table table-striped">
  <thead>
    <tr>
      <th>Order Id</th>
      <th>Customer</th>
      <th>Delivery appointment</th>
      <th>Order status</th>
      <th style="text-align:right">Cost estimation</th>
      <th style="text-align:right">Price to customer&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for order_dto in order_dtos.items %}
    {% if order_dto.order_status_name == 'Delivered' %}
      <tr>
        <td><a href="{{ url_for('order_details', 
		    order_id=order_dto.order_id) }}"  color="#D3D3D3">{{order_dto.order_id}}</a></td>
        <td><a href="{{ url_for('customer_details',
		    customer_id=order_dto.customer_id)}}">{{order_dto.customer_name}}</a></td>
        <td><font color="#A0A0A0">{{order_dto.delivery_appointment}}</font></td>
        <td><font color="#A0A0A0">{{order_dto.order_status_name}}</font></td>
        <td style="text-align:right"><font color="#A0A0A0">{{order_dto.total_cost}}</font></td>
        <td style="text-align:right"><font color="#A0A0A0">{{order_dto.price_to_customer}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</font></td>
        <td><a href="{{ url_for('update_order',
		    order_id=order_dto.order_id) }}"
        class="btn btn-default pullright"><font color="#A0A0A0">Update</font></a></td>      
    </tr>
    {% else %}
    <tr>
      <td><a href="{{ url_for('order_details', 
      order_id=order_dto.order_id) }}">{{order_dto.order_id}}</a></td>
      <td><a href="{{ url_for('customer_details',
      customer_id=order_dto.customer_id)}}">{{order_dto.customer_name}}</a></td>
      <td>{{order_dto.delivery_appointment}}</td>
      <td>{{order_dto.order_status_name}}</td>
      <td style="text-align:right">{{order_dto.total_cost}}</td>
      <td style="text-align:right">{{order_dto.price_to_customer}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
      <td><a href="{{ url_for('update_order',
      order_id=order_dto.order_id) }}"
      class="btn btn-default pullright">Update</a></td>      
  </tr>
    {% endif %}
    {% endfor %}
  </tbody>
</table>

<ul class="pagination pull-right">
  <li class="page-item pagenumber">{{order_dtos.page}}/{{order_dtos.pages}}</li>

  {% if order_dtos.has_prev %}
  <li class="page-item"><a class="page-link"
			   href="{{ url_for('list_orders', 
				 page=order_dtos.prev_num) }}">Previous</a></li>
  {% else %}
  <li class="page-item"><a class="page-link btn disabled"
			   href="#">Previous</a></li>
  {% endif %}

  {% if order_dtos.has_next %}
  <li class="page-item"><a class="page-link"
			   href="{{ url_for('list_orders', 
				 page=order_dtos.next_num) }}">Next</a></li>
  {% else %}
  <li class="page-item"><a class="page-link btn disabled"
			   href="#">Next</a></li>
  {% endif %}
</ul>
<br/>

<a href="{{ url_for('add_order') }}"
   class="btn btn-default pullright">Add a new order</a>

<script>
  $("#searchInput").keyup(function(e) {
    if (e.keyCode == 13) {
      let search_text = this.value
      location.href = "/list_orders/1/?search_text=" + search_text
    }
  })

</script>

{% endblock %}
