{% extends 'layout.html' %}

{% block body %}

{% from "includes/_formhelpers.html" import render_field %}

<div class="row">
  <div class="col-md-6 col-md-offset-3">
	<h1>Update product</h1>	
	<form method="POST" action="" enctype="multipart/form-data" id="update_product_form">
		<input type="hidden" id="product_id" value="{{product_rec.id}}" display="none" disabled/>		

        <div class="form-group">
            <label for="product_name">Name</label>
            <input type="text" id="product_name" name="product_name" value="{{current_product_name}}"/>
		</div>
		
		<p>
			<label for="product_amount">Amount</label>
			<input type="number" style="text-align:right" id="product_amount" name="product_amount" min="1" value="{{product_rec.amount}}"/>
	  	</p>

		<div class="form-group">
	        <label for="formula_id">Formula</label>
	        <select id="formula_id" name="formula_id">
	        {% for formula_rec in formula_recs %}
	            {% if formula_rec.id == selected_formula_id %}
	            <option value="{{formula_rec.id}}" selected>{{formula_rec.name}}</option>
	            {% else %}
	            <option value="{{formula_rec.id}}">{{formula_rec.name}}</option>
	            {% endif %}
	        {% endfor %}
	        </select>
		</div>

		<p>
			<label for="formula_amount">Formula Amount</label>
			<input type="number" step="0.01" style="text-align:right" id="formula_amount" name="formula_amount" min="0.01" value="{{product_rec.formula_amount}}"/>
	  	</p>

        <div class="form-group">
	        <label for="decoration_form_id">Decoration form</label>
	        <select id="decoration_form_id" name="decoration_form_id">
	        {% for decoration_form_rec in decoration_form_recs %}
	            {% if decoration_form_rec.id == selected_decoration_form_id %}
	            <option value="{{decoration_form_rec.id}}" selected>{{decoration_form_rec.name}}</option>
	            {% else %}
	            <option value="{{decoration_form_rec.id}}">{{decoration_form_rec.name}}</option>
	            {% endif %}
	        {% endfor %}
	        </select>
        </div>

        <div class="form-group">
	        <label for="decoration_technique_id">Decoration technique</label>
	        <select id="decoration_technique_id" name="decoration_technique_id">
	        {% for decoration_technique_rec in decoration_technique_recs %}
	            {% if decoration_technique_rec.id == selected_decoration_technique_id %}
	            <option value="{{decoration_technique_rec.id}}" selected>{{decoration_technique_rec.name}}</option>
	            {% else %}
	            <option value="{{decoration_technique_rec.id}}">{{decoration_technique_rec.name}}</option>
	            {% endif %}
	        {% endfor %}
	        </select>
		</div>

		<p>
			<label for="plate_id">Plate</label>
			<select id="plate_id" name="plate_id">
			{% for plate_rec in plate_recs %}
			  {% if plate_rec.id == selected_plate_id %}
				<option value="{{plate_rec.id}}" selected>{{plate_rec.name}}</option>
			  {% else %}
				<option value="{{plate_rec.id}}">{{plate_rec.name}}</option>
			  {% endif %}
			  {% endfor %}
			</select>
		  </p>
  
		  <p>
			<label for="box_id">Box</label>
			<select id="box_id" name="box_id">
			{% for box_rec in box_recs %}
			  {% if box_rec.id == selected_box_id %}
				<option value="{{box_rec.id}}" selected>{{box_rec.name}}</option>
			  {% else %}
				<option value="{{box_rec.id}}">{{box_rec.name}}</option>
			  {% endif %}
			  {% endfor %}
			</select>
		  </p>
  
		<div class="form-group">
            <label for="box_status">Box status</label>
            <select id="box_status" name="box_status">
              {% for box_status in box_status_names %}
                {% if box_status[0] == selected_box_status %}
                <option value="{{box_status[0]}}" selected>{{box_status[1]}}</option>
                {% else %}
                <option value="{{box_status[0]}}">{{box_status[1]}}</option>
                {% endif %}
              {% endfor %}
            </select>
		</div>

		<div class="form-group">
            <label for="box_returned_on">Box returned on</label>
			<input type="text" id="box_returned_on" name="box_returned_on" value="{{chosen_box_returned_on}}">			
      	</div>		

		<div class="form-group">
	        <label for="sample_images_group_id">Sample images</label>
			<select id="sample_images_group_id" name="sample_images_group_id" onchange="reload_after_select_changed()">
			<option value="-1" selected></option>
	        {% for sample_images_group_rec in sample_images_group_recs %}
	            {% if sample_images_group_rec.id == selected_sample_images_group_id %}
	            <option value="{{sample_images_group_rec.id}}" selected>{{sample_images_group_rec.name}}</option>
	            {% else %}
	            <option value="{{sample_images_group_rec.id}}">{{sample_images_group_rec.name}}</option>
	            {% endif %}
	        {% endfor %}
	        </select>
		</div>
		
		<table class="table table-striped" id="sample_images_group_table">
			<tbody>
				{% for sample_image_path in latest_3_sample_image_paths %}
				<td><img src="{{sample_image_path}}" width="auto" height="100"/></td>
				{% endfor %}
			</tbody>
		</table>

        <table class="table table-striped" id="existing_product_images_table">
	        <thead>
	            <tr>
	                <th>Exsiting product images</th>
	                <th></th> 
	            </tr>
	        </thead>
	        <tbody>
	            {% for i in range(product_image_path_recs|length) %}
	            <tr>
	                <td><img src="{{product_image_path_recs[i].file_path}}" width="auto" height="100" alt="{{product_image_path_recs[i].id}}" name="existing_product_image_{{i}}" id="existing_product_image_{{i}}" /></td>
	                <td><a class="btn btn-default pullright" onclick="delete_row(this, 'existing_product_images_table', 'existing_product_image_', 'delete_product_image_btn_')" id="delete_product_image_btn_{{i}}">Delete</a></td>
	            </tr>
	            {% endfor %}
	        </tbody>
      </table>

      <b>Add new images</b>
        <div id="wrapper" style="margin-top: 20px;">
	        <input id="fileUpload" name="file[]" multiple="multiple" type="file"/>
	    <div id="image_holder"></div>
      </div>
      <br/>
      
      <p><input type="submit" class="btn btn-primary" value="Submit"/></p>
    </form>
  </div>
</div>

<script>
  $('*[name=box_returned_on]').appendDtpicker();

  $('#update_product_form').submit(function() {
  var existing_images = document.querySelectorAll('*[id^="existing_product_image_"]');
  for (var i=0; i < existing_images.length; i++)
  {
  var existing_image_input = "<input name='" + existing_images[i].name + "' value='" + existing_images[i].alt + "'>"
  $(this).append(existing_image_input)
  }
  
  })
  
  function delete_row(btn, table_name, existing_image_prefix, delete_btn_prefix)
  {
    var strIndex = get_index(btn)
    var intIndex = parseInt(strIndex)
  
    var row = btn.parentNode.parentNode
    row.parentNode.removeChild(row)

    var len = document.getElementById(table_name).rows.length - 1
    var existing_images = document.querySelectorAll(`*[id^=${existing_image_prefix}]`);
    var delete_btns = document.querySelectorAll(`*[id^=${delete_btn_prefix}]`);
    for (var i = intIndex; i < len; i++)
    {			     
		existing_images[i].name = existing_image_prefix + i.toString()
		existing_images[i].id = existing_image_prefix + i.toString()
		delete_btns[i].name = delete_btn_prefix + i.toString()
		delete_btns[i].id = delete_btn_prefix + i.toString()
    }			       
  }
			       
  $(document).ready(function() {
  $("#fileUpload").on('change', function() {
    var countFiles = $(this)[0].files.length;
    var imgPath = $(this)[0].value;
    var extn = imgPath.substring(imgPath.lastIndexOf('.') + 1).toLowerCase();
    var image_holder = $("#image_holder");

    image_holder.empty();

    if (extn == "gif" || extn == "png" || extn == "jpg" || extn == "jpeg")
    {
	if (typeof(FileReader) != "undefined")
	{
	    //loop for each file selected for uploaded.
	    for (var i = 0; i < countFiles; i++)
	    {
		var reader = new FileReader();
		reader.onload = function(e)
		{
		    $("<img />", {
			"src": e.target.result,
			"class": "thumb-image"
		    }).appendTo(image_holder);
		}
		image_holder.show();
		reader.readAsDataURL($(this)[0].files[i]);
	    }
	}
	else
	{
	    alert("This browser does not support FileReader.");
	}
    }
    else
    {
	alert("Please select only images");
    }
  });
});


function reload_after_select_changed()
{
	var productId = document.getElementById("product_id").value
	var productName = document.getElementById("product_name").value	
	var formulaId = document.getElementById("formula_id").value
	var decorationFormId = document.getElementById("decoration_form_id").value 
	var decorationTechniqueId = document.getElementById("decoration_technique_id").value 	
	var boxStatus = document.getElementById("box_status").value
	var sampleImagesGroupId = document.getElementById("sample_images_group_id").value
	var boxReturnedOn = document.getElementById("box_returned_on").value
	var existingProductImages = document.querySelectorAll('*[id^="existing_product_image_"]');

	var existingProductImagesStr = ""
	for (var i=0; i < existingProductImages.length; i++)
	{
		var subs = existingProductImages[i].src.split("/")
		var imgPath = subs.slice(3, subs.length).join("/")
		existingProductImagesStr = existingProductImagesStr + "/" +imgPath + "!!!"
	}

	currentHref = location.href
	currentHrefComponents = currentHref.split("/")
	baseHref = currentHrefComponents.slice(0,4).join("/")
	newHref = baseHref + 
		"/" + productId +
		"?product_name_arg=" + productName +		
		"&decoration_form_id_arg=" + decorationFormId +
		"&decoration_technique_id_arg=" + decorationTechniqueId + 
		"&formula_id_arg=" + formulaId +
		"&box_status_arg=" + boxStatus + 
		"&sample_images_group_id_arg=" + sampleImagesGroupId +
		"&box_returned_on_arg=" + boxReturnedOn +
		"&existing_product_image_paths_arg=" + existingProductImagesStr

	location.href = newHref
}



</script>

{% endblock %}
