{% extends 'layout.html' %}

{% block body %}

{% from "includes/_formhelpers.html" import render_field %}

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1>List of sample images</h1>
    <form method="POST" action="" enctype="multipart/form-data">
      <div class="form-group">
	<label for="topic_id">Topic</label>
	<select id="topic_id" name="topic_id">
	  {% for topic_rec in topic_recs %}
	    {% if topic_rec.id == selected_topic_id %}
	      <option value="{{topic_rec.id}}" selected>{{topic_rec.name}}</option>
	    {% else %}
	      <option value="{{topic_rec.id}}">{{topic_rec.name}}</option>
	    {% endif %}
	  {% endfor %}
	</select>
      </div>

      <table class="table table-striped">
	<thead>
	  <th></th>
	  <th></th>
	  <th></th>
	  <th></th>
	  <th></th>	  
	  <!-- -->	  
	  <th></th>
	  <th></th>
	</thead>
	<tbody>
	  {% for i in range(sample_images_group_recs|length) %}
	  <tr>
	    <td><a href="{{ url_for('sample_images_group_details', sample_images_group_id=sample_images_group_recs[i].id) }}">{{sample_images_group_recs[i].name}}</a></td>
	    {% for j in range(3*i, 3*i+3) %}
	    <td>
	      {% if latest_groups_3_image_paths[j] != '' %}
	      <img src="{{latest_groups_3_image_paths[j]}}" width="auto" height="50"/>
	      {% endif %}
	    </td>
	    {% endfor %}	    
	    <td><a href="{{ url_for('update_sample_images_group', sample_images_group_id=sample_images_group_recs[i].id) }}" class="btn btn-default pullright">Update</a></td>
	    <td><a href="{{ url_for('delete_sample_images_group',
			 sample_images_group_id=sample_images_group_recs[i].id)}}" class="btn btn-default pullright">Delete</a></td>	    
	  </tr>
	  {% endfor %}
	</tbody>
      </table>
    </form>

    <a href="{{ url_for('add_sample_images_group', topic_id=selected_topic_id) }}"
   class="btn btn-default pullright">Add a new sample images group</a>
  </div>
</div>

<script>
  jQuery(function() {
    sComboBoxChangeOneLevel('#topic_id')
  })
  
  $(document).ready(function() {
  $("#fileUpload").on('change', function() {
    var countFiles = $(this)[0].files.length;
    var imgPath = $(this)[0].value;
    var extn = imgPath.substring(imgPath.lastIndexOf('.') + 1).toLowerCase();
    var image_holder = $("#image_holder");

    image_holder.empty();

    if (extn == "gif" || extn == "png" || extn == "jpg" || extn == "jpeg")
    {
	if (typeof(FileReader) != "undefined")
	{
	    //loop for each file selected for uploaded.
	    for (var i = 0; i < countFiles; i++)
	    {
		var reader = new FileReader();
		reader.onload = function(e)
		{
		    $("<img />", {
			"src": e.target.result,
			"class": "thumb-image"
		    }).appendTo(image_holder);
		}
		image_holder.show();
		reader.readAsDataURL($(this)[0].files[i]);
	    }
	}
	else
	{
	    alert("This browser does not support FileReader.");
	}
    }
    else
    {
	alert("Please select only images");
    }
  });
});
</script>

{% endblock %}
