{% extends 'layout.html' %}

{% block body %}

{% from "includes/_formhelpers.html" import render_field %}

<div class="row">
  <div class="col-md-9 col-md-offset-1">
    <h1>Update subformula {{subformula_rec.name}}</h1>
    <form method="POST" action="">
      <div class="form-group">
	<label for="subformula_name">SubFormula name</label>
	<input type="text" name="subformula_name" value="{{subformula_rec.name}}"><br>
      </div>

      <div class="form-group">
	<label for="taste_id">Taste</label>
	<select id="taste_id" name="taste_id">
	  {% for taste_rec in taste_recs %}
  	    {% if taste_rec.id == subformula_rec.taste_id %}
	    <option value="{{taste_rec.id}}" selected>{{taste_rec.name}}</option>
	    {% else %}
	    <option value="{{taste_rec.id}}">{{taste_rec.name}}</option>	    
	    {% endif %}
          {% endfor %}
	</select>
	  </div>
	  
	<div class="form-group">
		<label for="subformula_type">SubFormula type</label>
		<select id="subformula_type" name="subformula_type">
		  {% for subformula_type_name in subformula_type_names %}
			{% if subformula_type_name[0] == subformula_rec.subformula_type %}
			<option value="{{subformula_type_name[0]}}" selected>{{subformula_type_name[1]}}</option>
			{% else %}
			<option value="{{subformula_type_name[0]}}">{{subformula_type_name[1]}}</option>
			{% endif %}
		  {% endfor %}
		</select>
	</div>

      <div class="form-group">
	<label for="subformula_description">Description</label>
	<input type="text"
	       id="subformula_description"
	       name="subformula_description"
	       value="{{subformula_rec.description}}"><br>
      </div>

      {% for i in range(material_subformulas|length) %}
      <div class="form-group" id="material_{{i}}" name="material[]">
      <select id="material_choices_{{i}}"
		name="material_choices_{{i}}"
		onchange="sync_unit_price(this)">
	  {% for material_dto in material_dtos %}
	    {% if material_dto.material_id == material_subformulas[i].material_id %}
              <option value="{{material_dto.material_id}}" selected>{{material_dto.name}}</option>
	    {% else %}
              <option value="{{material_dto.material_id}}">{{material_dto.name}}</option>
	    {% endif %}
	  {% endfor %}
	</select>

	<input type="number"
	       id="material_amount_{{i}}"
	       name="material_amount_{{i}}"
		   value="{{material_subformulas[i].amount}}"
		   style="text-align:right"
	       onkeyup="update_cost(this)">

	<select id="material_unit_price_{{i}}"
		name="material_unit_price_{{i}}"
		disabled>
	  {% for material_dto in material_dtos %}
	    {% if material_dto.material_id == material_subformulas[i].material_id %}	  
	      <option value="{{material_dto.unit_price / material_dto.unit_amount}}" selected>{{material_dto.unit_price}} / {{material_dto.unit_amount}} {{material_dto.unit}}</option>
	    {% else %}
	      <option value="{{material_dto.unit_price / material_dto.unit_amount}}">{{material_dto.unit_price}} / {{material_dto.unit_amount}} {{material_dto.unit}}</option>	      
	    {% endif %}  
	  {% endfor %}
	</select>

	{% for material_dto in material_dtos %}
	  {% if material_dto.material_id == material_subformulas[i].material_id %}	  
  	  <input type="number"
	         id="material_cost_{{i}}"
			 name="material_cost_{{i}}"
			 style="text-align:right"
		 	 value="{{ material_dto.unit_price * material_subformulas[i].amount / material_dto.unit_amount }}"
	         disabled>
	  {% endif %}
	{% endfor %}

	  <button type="button"
		  class="btn btn-default pullright"
		  id="delete_material_{{i}}"
		  onclick="delete_material(this);">Delete</button>
      </div>
      {% endfor %}

      <div>
	<input
	   type="number"
	   id="total_cost"
	   name="total_cost"
	   value="{{total_cost}}"
	   style="text-align:right"
	   disabled>
      </div>
      
      <p><button type="button" class="btn btn-default pullright" onclick="add_another_material();">Add another material</button></p>

      <div class="form-group">
	<label for="subformula_note">Note</label>
	<textarea rows="10"
		  cols="80"
		  id="subformula_note"
		  name="subformula_note">{{subformula_rec.note}}</textarea>
      </div>
      
      <p><input type="submit" class="btn btn-primary" value="Submit"/></p>
    </form>
  </div>
</div>

<script>
  $("form").bind("keypress", function (e) {
  if (e.keyCode == 13) {
  return false;
  }
  });
  
</script>

{% endblock %}
