{% extends 'layout.html' %}

{% block body %}

{% from "includes/_formhelpers.html" import render_field %}

{% if search_text is none or search_text == '' %}
  <input type="text" class="form-control" placeholder="Filter..." id="searchInput">
{% else %}
  <input type="text" class="form-control" value="{{search_text}}" id="searchInput">  
{% endif %}
<br/>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Id</th>
      {% if current_sorting_criteria == 'subformula_name_desc' %}
      <th>Name <a href="{{ url_for('list_subformulas',
        page=page,
        search_text=[search_text],
        sorting_criteria=['subformula_name_asc']) }}"><i class="fa fa-sort-asc"></i></a></th>
      {% else %}
      <th>Name <a href="{{ url_for('list_subformulas',
        page=page,
        search_text=[search_text],
        sorting_criteria=['subformula_name_desc']) }}"><i class="fa fa-sort-desc"></i></a></th>
      {% endif %}

      {% if current_sorting_criteria == 'taste_name_desc' %}
      <th>Taste <a href="{{ url_for('list_subformulas',
        page=page,
        search_text=[search_text],
        sorting_criteria=['taste_name_asc']) }}"><i class="fa fa-sort-asc"></i></a></th>
      {% else %}
      <th>Taste <a href="{{ url_for('list_subformulas',
        page=page,
        search_text=[search_text],
        sorting_criteria=['taste_name_desc']) }}"><i class="fa fa-sort-desc"></i></a></th>
      {% endif %}

      <th>Type</th>

      <th>Registered on</th>
      
      {% if current_sorting_criteria == 'cost_estimation_desc' %}
      <th style="text-align:right">Cost estimation <a href="{{ url_for('list_subformulas',
        page=page,
        search_text=[search_text],
        sorting_criteria=['cost_estimation_asc']) }}"><i class="fa fa-sort-asc"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
      {% else %}
      <th style="text-align:right">Cost estimation <a href="{{ url_for('list_subformulas',
        page=page,
        search_text=[search_text],
        sorting_criteria=['cost_estimation_desc']) }}"><i class="fa fa-sort-desc"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
      {% endif %}
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for subformula_dto in subformula_dtos.items %}
    <tr>
      <td>{{subformula_dto.subformula_id}}</td>
      <td><a href="{{ url_for('subformula_details', 
                  subformula_id=subformula_dto.subformula_id) }}">{{subformula_dto.name}}</a></td>
      <td>{{subformula_dto.taste_name}}</td>
      {% if subformula_dto.subformula_type == 0 %}
        <td>Base</td>
      {% elif subformula_dto.subformula_type == 1 %}
        <td>Filling</td>
      {% elif subformula_dto.subformula_type == 2 %}
        <td>Cream</td>
      {% endif %}
      <td>{{subformula_dto.registered_on}}</td>
      <td style="text-align:right">
        <a href="{{ url_for('subformula_cost_estimation_details', subformula_id=subformula_dto.subformula_id) }}">
          {{subformula_dto.total_cost}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </a>        
      </td>
      <td><a href="{{ url_for('update_subformula', 
		                  subformula_id=subformula_dto.subformula_id) }}"
                      class="btn btn-default pullright">Update</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<ul class="pagination pull-right">
  <li class="page-item pagenumber">{{subformula_dtos.page}}/{{subformula_dtos.pages}}</li>

  {% if subformula_dtos.has_prev %}
  <li class="page-item"><a class="page-link"
         href="{{ url_for('list_subformulas', 
         page=subformula_dtos.prev_num,
         search_text=[search_text],
         sorting_criteria=[current_sorting_criteria]) }}">Previous</a></li>
  {% else %}
  <li class="page-item"><a class="page-link btn disabled"
			   href="#">Previous</a></li>
  {% endif %}

  {% if subformula_dtos.has_next %}
  <li class="page-item"><a class="page-link"
         href="{{ url_for('list_subformulas', 
         page=subformula_dtos.next_num,
         search_text=[search_text],
         sorting_criteria=[current_sorting_criteria]) }}">Next</a></li>
  {% else %}
  <li class="page-item"><a class="page-link btn disabled"
			   href="#">Next</a></li>
  {% endif %}
</ul>
<br/>

<a href="{{ url_for('add_subformula') }}"
   class="btn btn-default pullright">Add a new subformula</a>

<script>
  $('#taste_choices').select2();

  $("#searchInput").keyup(function(e) {
    if (e.keyCode == 13) {
      let search_text = this.value
      location.href = "/list_subformulas/1/?search_text=" + search_text
    }
  })

</script>

{% endblock %}
