{% extends 'layout.html' %}

{% block body %}

<h1>List of topics</h1>

{% from "includes/_formhelpers.html" import render_field %}

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Parent topic</th>      
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for topic_dto in topic_dtos.items %}
    <tr>
      <td><span data-toggle="tooltip" title="{{topic_dto.description}}">{{topic_dto.name}}</span></td>
      <td>{{topic_dto.parent_topic_name}}</td>      
      <td><a href="{{ url_for('update_topic', topic_id=topic_dto.topic_id) }}"
	     class="btn btn-default pullright">Update</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<ul class="pagination pull-right">
  <li class="page-item pagenumber">{{topic_dtos.page}}/{{topic_dtos.pages}}</li>

  {% if topic_dtos.has_prev %}
  <li class="page-item"><a class="page-link"
			   href="{{ url_for('list_topics', 
				 page=topic_dtos.prev_num) }}">Previous</a></li>
  {% else %}
  <li class="page-item"><a class="page-link btn disabled"
			   href="#">Previous</a></li>
  {% endif %}

  {% if topic_dtos.has_next %}
  <li class="page-item"><a class="page-link"
			   href="{{ url_for('list_topics', 
				 page=box_recs.next_num) }}">Next</a></li>
  {% else %}
  <li class="page-item"><a class="page-link btn disabled"
			   href="#">Next</a></li>
  {% endif %}
</ul>
<br/>

<a href="{{ url_for('add_topic') }}"
   class="btn btn-default pullright">Add a new topic</a>

{% endblock %}
