{% extends 'layout.html' %}

{% block body %}

{% from "includes/_formhelpers.html" import render_field %}

<h1>Update order</h1>

    <form method="POST" action="">

      <div class="form-group">
            <label for="customer_id">Customer</label>
            <select id="customer_id" name="customer_id">
              {% for customer_choice in customer_choices %}
                {% if customer_choice[0] == order_rec.customer_id %}
                  <option value="{{customer_choice[0]}}" selected>{{customer_choice[1]}}</option>
                {% else %}
                  <option value="{{customer_choice[0]}}">{{customer_choice[1]}}</option>
                {% endif %}
              {% endfor %}
            </select>
      </div>

      <div class="form-group">
            <label for="ordered_on">Ordered on</label>
            <input type="text" name="ordered_on" value="{{order_rec.ordered_on}}">
      </div>

      <div class="form-group">
            <label for="delivery_appointment">Delivery appointment</label>
            <input type="text" name="delivery_appointment" value="{{order_rec.delivery_appointment}}">
      </div>

      <div class="form-group">
            <label for="delivery_method_id">Delivery method</label>
            <select id="delivery_method_id" name="delivery_method_id">
              {% for delivery_method_choice in delivery_method_choices %}
                {% if delivery_method_choice[0] == order_rec.delivery_method_id %}
                <option value="{{delivery_method_choice[0]}}" selected>{{delivery_method_choice[1]}}</option>
                {% else %}
                <option value="{{delivery_method_choice[0]}}">{{delivery_method_choice[1]}}</option>
                {% endif %}
              {% endfor %}
            </select>
      </div>

      <div class="form-group">
            <label for="order_status">Order status</label>
            <select id="order_status" name="order_status">
              {% for order_status in order_status_names %}
                {% if order_status[0] == order_rec.order_status %}
                <option value="{{order_status[0]}}" selected>{{order_status[1]}}</option>
                {% else %}
                <option value="{{order_status[0]}}">{{order_status[1]}}</option>
                {% endif %}
              {% endfor %}
            </select>
      </div>

      <div class="form-group">
            <label for="delivered_on">Delivered on</label>
            <input type="text" name="delivered_on" value="{{order_rec.delivered_on}}">
      </div>

      <div class="form-group">
            <label for="payment_status">Payment status</label>
            <select id="payment_status" name="payment_status">
              {% for payment_status in payment_status_names %}
                {% if payment_status[0] == order_rec.payment_status %}
                <option value="{{payment_status[0]}}" selected>{{payment_status[1]}}</option>
                {% else %}
                <option value="{{payment_status[0]}}">{{payment_status[1]}}</option>
                {% endif %}
              {% endfor %}
            </select>
      </div>

      <div class="form-group">
            <label for="paid_on">Paid on</label>
            <input type="text" name="paid_on" value="{{order_rec.paid_on}}">
      </div>

      <table class="table table-striped">
            <thead>
              <tr>
                <th>Product Id</th>
                <th>Product Name</th>
                <th>Taste</th>
                <th>Decoration Form</th>
                <th>Decoration Technique</th>
                <th>Formula</th>
                <th>Sample Images</th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              {% for product_dto in product_dtos %}
              <tr>
                <td>{{product_dto.product_id}}</td>
                <td><a href="{{ url_for('product_details', product_id=product_dto.product_id) }}">{{product_dto.product_name}}</a></td>
                <td>{{product_dto.taste_name}}</td>
                <td>{{product_dto.decoration_form_name}}</td>
                <td>{{product_dto.decoration_technique_name}}</td>
                
                {% if product_dto.formula_id is not none %}
                  <td><a href="{{ url_for('formula_details', formula_id=product_dto.formula_id) }}">{{product_dto.formula_name}}</a></td>
                {% else %}
                  <td>{{product_dto.formula_name}}</td>
                {% endif %}
      
                {% if product_dto.sample_images_group_id is not none %}
                  <td><a href="{{ url_for('sample_images_group_details', sample_images_group_id=product_dto.sample_images_group_id) }}">{{product_dto.sample_images_group_name}}</a></td>
                {% else %}
                  <td>{{product_dto.sample_images_group_name}}</td>
                {% endif %}

                <td><a href="{{ url_for('update_product', product_id=product_dto.product_id) }}"
                       class="btn btn-default pullright">Update</a></td></td>
                <td><a href="{{ url_for('delete_product', product_id=product_dto.product_id) }}"
                       class="btn btn-default pullright">Delete</a></td></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>

      <div class="form-group">
	      <label for="message">Message</label>
            <textarea class="form-control" cols="80" id="message" name="message" rows="10">{{order_rec.message}}</textarea>
      </div>
      
      <p><input type="submit" class="btn btn-primary" value="Submit"/></p>
    </form>

<script>
  $('#delivery_method_id').select2();
  $('#customer_id').select2();
  $('*[name=ordered_on]').appendDtpicker();
  $('*[name=delivery_appointment]').appendDtpicker();
  $('*[name=delivered_on]').appendDtpicker();
  $('*[name=paid_on]').appendDtpicker();
</script>

{% endblock %}
