{% extends 'layout.html' %}

{% block body %}

{% from "includes/_formhelpers.html" import render_field %}

<h1>Update order</h1>

    <form method="POST" action="">
      <input type="hidden" id="order_id" value="{{order_id}}" display="none" disabled/>

      <div class="form-group">
            <label for="customer_id">Customer</label>
            <select id="customer_id" name="customer_id">
              {% for customer_rec in customer_recs %}
                {% if customer_rec.id == customer_id %}
                  <option value="{{customer_rec.id}}" selected>{{customer_rec.name}}</option>
                {% else %}
                  <option value="{{customer_rec.id}}">{{customer_rec.name}}</option>
                {% endif %}
              {% endfor %}
            </select>
      </div>

      <div class="form-group">
            <label for="ordered_on">Ordered on</label>
            <input type="text" name="ordered_on" id="ordered_on" value="{{ordered_on}}">
      </div>

      <div class="form-group">
            <label for="delivery_appointment">Delivery appointment</label>
            <input type="text" name="delivery_appointment" id="delivery_appointment" value="{{delivery_appointment}}">
      </div>

      <div class="form-group">
            <label for="delivery_method_id">Delivery method</label>
            <select id="delivery_method_id" name="delivery_method_id">
              {% for delivery_method_rec in delivery_method_recs %}
                {% if delivery_method_rec.id == delivery_method_id %}
                <option value="{{delivery_method_rec.id}}" selected>{{delivery_method_rec.name}}</option>
                {% else %}
                <option value="{{delivery_method_rec.id}}">{{delivery_method_rec.name}}</option>
                {% endif %}
              {% endfor %}
            </select>
      </div>

      <div class="form-group">
            <label for="order_status">Order status</label>
            <select id="order_status" name="order_status">
              {% for order_status_name in order_status_names %}
                {% if order_status_name[0] == order_status %}
                <option value="{{order_status_name[0]}}" selected>{{order_status_name[1]}}</option>
                {% else %}
                <option value="{{order_status_name[0]}}">{{order_status_name[1]}}</option>
                {% endif %}
              {% endfor %}
            </select>
      </div>

      <div class="form-group">
            <label for="delivered_on">Delivered on</label>
            <input type="text" name="delivered_on" id="delivered_on" value="{{delivered_on}}">
      </div>

      <div class="form-group">
            <label for="payment_status">Payment status</label>
            <select id="payment_status" name="payment_status">
              {% for payment_status_name in payment_status_names %}
                {% if payment_status_name[0] == payment_status %}
                <option value="{{payment_status_name[0]}}" selected>{{payment_status_name[1]}}</option>
                {% else %}
                <option value="{{payment_status_name[0]}}">{{payment_status_name[1]}}</option>
                {% endif %}
              {% endfor %}
            </select>
      </div>

      <div class="form-group">
            <label for="paid_on">Paid on</label>
            <input type="text" name="paid_on" id="paid_on" value="{{paid_on}}">
      </div>

      <table class="table table-striped" id="existing_products_table">
            <thead>
              <tr>
                <th>Product Id</th>
                <th>Product Name</th>
                <th>Decoration Form</th>
                <th>Decoration Technique</th>
                <th>Formula</th>
                <th>Plate</th>
                <th>Box</th>
                <th>Sample Images</th>
                <th>Cost Estimation per Product</th>
                <th>Amount</th>
                <th>Cost estimation</th>
                <th>Price to customer</th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              {% for i in range(product_dtos|length) %}
              <tr>
                <td><label id="product_id_{{i}}">{{product_dtos[i].product_id}}</label></td>
                <td><a href="{{ url_for('product_details', product_id=product_dtos[i].product_id) }}">{{product_dtos[i].product_name}}</a></td>
                <td>{{product_dtos[i].decoration_form_name}}</td>
                <td>{{product_dtos[i].decoration_technique_name}}</td>
                {% if product_dtos[i].formula_id is not none %}
                  <td><a href="{{ url_for('formula_details', formula_id=product_dtos[i].formula_id) }}">{{product_dtos[i].formula_name}}</a></td>
                {% else %}
                  <td>{{product_dtos[i].formula_name}}</td>
                {% endif %}

                <td>{{product_dtos[i].plate_name}}</td>
                <td>{{product_dtos[i].box_name}}</td>

                {% if product_dtos[i].sample_images_group_id is not none %}
                  <td><a href="{{ url_for('sample_images_group_details', sample_images_group_id=product_dtos[i].sample_images_group_id) }}">{{product_dtos[i].sample_images_group_name}}</a></td>
                {% else %}
                  <td>{{product_dtos[i].sample_images_group_name}}</td>
                {% endif %}

                <td><a href="{{ url_for('product_cost_estimation_details', product_id=product_dtos[i].product_id)}}">{{product_dtos[i].product_cost_estimation}}</a></td>

                <td>{{product_dtos[i].product_amount}}</td>
                {% if product_dtos[i].product_cost_estimation is not none %}
                <td>{{product_dtos[i].product_cost_estimation * product_dtos[i].product_amount }}</td>
                {% else %}
                <td>{{product_dtos[i].product_cost_estimation}}</td>
                {% endif %}

                {% if price_to_customers[product_dtos[i].product_id] is not none %}
                  <td><input type="text" 
                    id="price_to_customer_{{product_dtos[i].product_id}}" 
                    name="price_to_customer_{{product_dtos[i].product_id}}"
                    style="text-align: right"
                    onkeyup="update_total_price_to_customer(this)"
                    value="{{price_to_customers[product_dtos[i].product_id]}}"/></td>
                {% else %}
                  <td><input type="text" 
                    id="price_to_customer_{{product_dtos[i].product_id}}" 
                    name="price_to_customer_{{product_dtos[i].product_id}}"
                    style="text-align: right"
                    onkeyup="update_total_price_to_customer(this)"
                    value="0"/></td>
                {% endif %}

                <td><a href="{{ url_for('update_product', product_id=product_dtos[i].product_id) }}"
                class="btn btn-default pullright">Update</a></td>
                <td><button type="button" class="btn btn-default pullright" id="btn_delete_product_{{product_dtos[i].product_id}}" onclick="delete_product_in_update_order(this)">Delete</button></td>

              </tr>
              {% endfor %}
              <tr>
                <td>Total cost</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>{{ order_cost_estimation }}</td>
                <td><input type="text" id="total_price_to_customer" name="total_price_to_customer" style="text-align:right" value="{{total_price_to_customer}}" disabled/></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>Paid by customer</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><input type="text" id="paid_by_customer" name="paid_by_customer" style="text-align:right" value="{{paid_by_customer}}"/></td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </table>

      <div class="form-group">
        <p><label>Additional product:</label></p>
        <p>
          <label for="new_product_name">Name</label>
          <input type="text" id="new_product_name" name="new_product_name" value="{{new_product_name}}"/>
        </p>

        <p>
          <label for="product_amount">Amount</label>
          <input type="number" style="text-align:right" id="product_amount" name="product_amount" min="1" value="{{product_amount}}"/>
        </p>

        <p>
          <label for="formula_id">Formula</label>
          <select id="formula_id" name="formula_id">
            {% for formula_rec in formula_recs %}
              {% if formula_rec.id == chosen_formula_id %}
                <option value="{{formula_rec.id}}" selected>{{formula_rec.name}}</option>
              {% else %}
                <option value="{{formula_rec.id}}">{{formula_rec.name}}</option>
              {% endif %}
            {% endfor %}
          </select>
          </p>
        <p>
            
        <p>
          <label for="decoration_form_id">Decoration form</label>
          <select id="decoration_form_id" name="decoration_form_id">
          {% for decoration_form_rec in decoration_form_recs %}
            {% if decoration_form_rec.id == chosen_decoration_form_id %}
              <option value="{{decoration_form_rec.id}}" selected>{{decoration_form_rec.name}}</option>
            {% else %}
              <option value="{{decoration_form_rec.id}}">{{decoration_form_rec.name}}</option>
            {% endif %}
	        {% endfor %}
          </select>
        </p>
    
        <p>
          <label for="decoration_technique_id">Decoration technique</label>
          <select id="decoration_technique_id" name="decoration_technique_id">
          {% for decoration_technique_rec in decoration_technique_recs %}
            {% if decoration_technique_rec.id == chosen_decoration_technique_id %}
              <option value="{{decoration_technique_rec.id}}" selected>{{decoration_technique_rec.name}}</option>
            {% else %}
              <option value="{{decoration_technique_rec.id}}">{{decoration_technique_rec.name}}</option>
            {% endif %}
	        {% endfor %}
          </select>
        </p>

        <p>
          <label for="plate_id">Plate</label>
          <select id="plate_id" name="plate_id">
          {% for plate_rec in plate_recs %}
            {% if plate_rec.id == chosen_plate_id %}
              <option value="{{plate_rec.id}}" selected>{{plate_rec.name}}</option>
            {% else %}
              <option value="{{plate_rec.id}}">{{plate_rec.name}}</option>
            {% endif %}
	        {% endfor %}
          </select>
        </p>

        <p>
          <label for="box_id">Box</label>
          <select id="box_id" name="box_id">
          {% for box_rec in box_recs %}
            {% if box_rec.id == chosen_box_id %}
              <option value="{{box_rec.id}}" selected>{{box_rec.name}}</option>
            {% else %}
              <option value="{{box_rec.id}}">{{box_rec.name}}</option>
            {% endif %}
	        {% endfor %}
          </select>
        </p>

        <p>
          <label for="with_box">With box</label><br>
          {% if with_box == 'true' %}
            <input type="checkbox" id="with_box" name="with_box" checked>
          {% else %}
          <input type="checkbox" id="with_box" name="with_box">
          {% endif %}
        </p>
      </div>

      <br/>
      <p><button type="button" 
            class="btn btn-default pullright" 
            onclick="add_new_product_to_order();">Add product to order</button></p>

      <div class="form-group">
	      <label for="message">Message</label>
            <textarea class="form-control" cols="80" id="message" name="message" rows="10">{{message}}</textarea>
      </div>
      
      <p><input type="submit" class="btn btn-primary" value="Submit"/></p>
    </form>

<script>
  $('#delivery_method_id').select2();
  $('#customer_id').select2();
  $('#decoration_form_id').select2();
  $('#decoration_technique_id').select2();
  $('*[name=ordered_on]').appendDtpicker();
  $('*[name=delivery_appointment]').appendDtpicker();
  $('*[name=delivered_on]').appendDtpicker();
  $('*[name=paid_on]').appendDtpicker();
</script>

{% endblock %}
